* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

ul, li {
  list-style: none;
}

p {
  margin-bottom: 15px;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 5px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 4px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 3px;
}

html, body { height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

img {
  max-width: 100%;
  margin: 5px;
}

.Page {
  height: 100%;
  width: 900px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #555;
  font-family: helvetica;
  font-size: 16px;
  font-weight: normal;
  background-color: white;
}

.Layout {
  display: flex;
  flex: 1;
  overflow: auto;
}

.Current-location {
  text-align: center;
  color: white;
  background-color: #555;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.Layout__Main {
  flex: 4 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.CurrentSummary {
  margin: 10px 0px;
  font-size: 18px;
}

.CurrentSummary__StoryElement {
  font-weight: bold;
}

.Storyline {
  margin: 0 20px;
  overflow: auto;
  flex: 1 0;
}

.Storyline__Item {
  opacity: 0.3;
  width: 600px;
  transition: padding-left 0.1s;
  padding: 10px;
}

.Storyline__Item:first-of-type {
  padding-left: 40px;
}

li.Storyline__Item:first-of-type:before {
  float: left;
  content: '\25B8';
  margin: 0px -25px;
}

.Storyline__Item__Action {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 5px;
  font-style: italic;
  text-transform: capitalize;
}

.Storyline__Item__Narration {
}

.Layout__Sidebar {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Locations {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-left: 2px solid #eee;
  flex: 1 0 45%;
  margin-bottom: 30px;
  overflow: hidden;
}

.Locations__list {
  overflow: auto;
}

.Locations__Location {
  margin-bottom: 10px;
  padding: 0px;
  text-transform: capitalize;
}

.Locations__Location.Locations__Location--current {
  font-weight: bold;
  color: white;
  background: #555;
  padding: 4px;
  display: flex;
}


.Inventory {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-left: 2px solid #eee;
  flex: 1 0 45%;
  overflow: hidden;
}

.Inventory__list {
  overflow: auto;
}

.Inventory__Item {
  margin-bottom: 10px;
  padding: 0px;
  text-transform: capitalize;
}

.Layout__Sidebar h3 {
  color: #999;
  border-bottom: 4px solid;
  margin-bottom: 10px;
  flex: 0 0 auto;
}

.u-new-story-element {
  font-style: italic;
}

.u-selectable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.u-fade-in {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  animation: fadeIn 0.7s linear forwards,
  slideDown 1s ease-out forwards;
}

.u-jump {
  padding-left: 0px;
  animation: jump alternate 0.1s 2 ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  to {
    max-height: 800px;
  }
}

@keyframes jump {
  to {
    padding-left: 10px;
  }
}
