* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

ul, li {
  list-style: none;
}

p {
  margin-bottom: 15px;
}

html, body { height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.Page {
  height: 100%;
  width: 900px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #555;
  font-family: helvetica;
  font-size: 16px;
  font-weight: normal;
  background-color: white;
}

.Layout {
  display: flex;
  flex: 1;
}

.Title {
  text-align: center;
  color: white;
  background-color: #ccc;
  margin-bottom: 20px;
}

.Layout__Main {
  flex: 4 1;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.CurrentSummary {
  padding: 20px;
  flex: 1;
}

.CurrentSummary h2 {
  color: #777;
  margin-bottom: 10px;
}

.Storyline {
  padding: 20px;
  flex: 6;
  overflow: auto;
}

.Storyline::before {
  content: ". . .";
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.Storyline__Prose {
  color: #aaa;
  padding-bottom: 25px;
}

.Storyline__Prose p {
  margin-bottom: 7px;
}

.Storyline__Prose:first-of-type {
  font-weight: bold;
  color: #555;
}



.Layout__Sidebar {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.Locations {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-left: 2px solid #eee;
  flex: 1 1;
  margin-bottom: 40px;
}

.Locations__list {
  overflow: auto;
}

.Inventory {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-left: 2px solid #eee;
  flex: 1 1;
}

.Inventory__list {
  overflow: auto;
}

.Layout__Sidebar h3 {
  color: #999;
  border-bottom: 4px solid;
  margin-bottom: 10px;
  flex: 0 0 auto;
}

.Layout__Sidebar li {
  padding-bottom: 5px;
}

.Location:hover {
  color: green;
}

.Location--unavailable, .Location--unavailable:hover {
  color: #aaa;
}

.Item:hover, .Inventory__list li:hover {
  color: orange;
}

.Character:hover {
  color: purple;
}
